<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="~/styles/style.css">
    <link rel="stylesheet" href="~/styles/info.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=0.65, user-scalable=no">
    <title>PoemPass | Info</title>
    <link rel="shortcut icon" href="~/img/favicon.png" type="image/x-icon">
</head>
<body>
    <div class="notification">Copied!</div>
    <main>
        <partial name="~/Views/PartialViews/Header.cshtml"/>

        <div class="block">
            <span class="block-title">Information</span>
            <hr class="line">
            <div class="parts__wrapper">
                <div class="mainBlockPart">
                    <span>
                        Our service is designed to generate passwords that are easy to remember thanks to
                        the 'poem' that is generated along with the password. Each symbol of password is
                        represented by a word in 'poem' passphrase. <br/> <br/>

                        "Reverse mode" enables each symbol of the password to be the end of each word it
                        represents (see the picture below). If the character starts with a capital letter,
                        then the word will also begin with a capital letter, but its last letter remains small.
                    </span>
                    <a href="~/img/reverseMode.png" target="_blank"><img src="~/img/reverseMode.png" alt="reverseMode"></a>
                    <br/>
                    <span class="mqd">By MrQuackDuck 🦆</span>
                </div>
            </div>
        </div>
    </main>

    <partial name="~/Views/PartialViews/Footer.cshtml"/>

    <script src="~/scripts/jquery-3.6.4.min.js"></script>
    <script src="~/scripts/index.js"></script>
</body>
</html>