<footer>
    <div class="logo-and-name">
        <img draggable="false" src="img/logo.png" width="70" height="70">
        <div class="text">
            <span>PoemPass</span>
            <span><a href="https://justempire.net">JustEmpire</a>, 2018-@DateTime.Now.Year.ToString()</span>
        </div>
    </div>
</footer>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1743917025975342"
     crossorigin="anonymous"></script>
<script src="~/scripts/jquery-3.6.4.min.js"></script>
<script src="~/scripts/index.js"></script>