<header>
    <a draggable="false" class="logo__wrapper" href="/"><img class="logo" draggable="false" src="~/img/logo.png" width="68.8" height="68.8"/></a>
    <nav class="buttons"><a href="/" draggable="false" class="button">Home</a><a href="/Info" draggable="false" class="button">Info</a><a href="https://github.com/MrQuackDuck" target="_blank" draggable="false" class="button">Github</a>
    </nav>
</header>